/* ================================================================
*
*	Defines default styles for blog page.
*
*	#Authors: The Kumor
* 
* ================================================================ */

html {
	color: rgb(220, 220, 220);
	background-color: rgb(32, 32, 32);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: large;
	text-align: center;
}

p {
	margin-left: 30%;
	margin-right: 30%;
}

img {
	width: 33%;
}

.container {
	margin-bottom: 5vh;
}

footer {
	border-top: 1px solid #bbbbbb;
	font-size: x-small;
	margin-top: 20px;
}